# 1. Import libraries

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 2. Load dataset

In [35]:
# Path relatif ke folder data
BASE_DIR = os.path.abspath(os.path.join(os.getcwd(), "../../data"))
asset_path = os.path.join(BASE_DIR, "Assessment Data Asset Dummy.csv")
city_path = os.path.join(BASE_DIR, "City Indonesia.csv")

# Load data
df_asset = pd.read_csv(asset_path)
df_city = pd.read_csv(city_path)

print("Asset Data Shape:", df_asset.shape)
print("City Master Data Shape:", df_city.shape)

Asset Data Shape: (4908, 6)
City Master Data Shape: (514, 5)

In [36]:
required_fields = ["Funcloc", "Alamat1", "Alamat2", "Alamat3", "Alamat4", "SiteName"]
missing_fields = [col for col in required_fields if col not in df_asset.columns]

if missing_fields:
    print("❌ Missing required fields:", missing_fields)
else:
    print("✅ All required fields exist")

# Cek missing values pada kolom wajib
print("\nMissing values per required field:")
print(df_asset[required_fields].isnull().sum())

✅ All required fields exist

Missing values per required field:
Funcloc      0
Alamat1      0
Alamat2     24
Alamat3     31
Alamat4      0
SiteName     0
dtype: int64

In [37]:
# Validasi format teks (provinsi, kabkot seharusnya string)
print("\nData Types Check:")
print(df_city[["City", "Province"]].dtypes)

# Contoh: normalisasi kapitalisasi
df_city["Province"] = df_city["Province"].str.title().str.strip()
df_city["City"] = df_city["City"].str.title().str.strip()

Data Types Check:
City        object
Province    object
dtype: object

In [38]:
numeric_cols = df_asset.select_dtypes(include=[np.number]).columns.tolist()
print("\nNumeric Columns:", numeric_cols)

for col in numeric_cols:
    print(f"\nCheck range for {col}:")
    print("Min:", df_asset[col].min(), " | Max:", df_asset[col].max())

# Bisa tambahkan aturan, misalnya kapasitas tidak boleh negatif
if "Capacity" in df_asset.columns:
    invalid_capacity = df_asset[df_asset["Capacity"] < 0]
    print(f"Invalid Capacity Count: {len(invalid_capacity)}")

Numeric Columns: ['Funcloc']

Check range for Funcloc:
Min: 100000000002  | Max: 100000059270

In [39]:
merged = df_asset.merge(df_city, left_on="Alamat4", right_on="City", how="left")

unmatched = merged[merged["CityCode"].isnull()]

print("\nReferential Integrity Check:")
print(f"Total Asset Records: {len(df_asset)}")
print(f"Unmatched with City Master: {len(unmatched)}")

if not unmatched.empty:
    display(unmatched.head())

Referential Integrity Check:
Total Asset Records: 4908
Unmatched with City Master: 4908

,Funcloc,Alamat1,Alamat2,Alamat3,Alamat4,SiteName,City,CityCode,Province,Region,RegionalCode
0,100000000002,Desa Alun Dua,Desa Alun Dua,Kecamatan Kerkap,BENGKULU UTARA,Steele-Phillips,NaN,NaN,NaN,NaN,NaN
1,100000000003,Desa Padang Maninjau,Kel. Desa Padang Maninjau,Kec. Aek Kuo,LABUHANBATU UTARA,"Herrera, Barnes and Taylor",NaN,NaN,NaN,NaN,NaN
2,100000000004,Desa Bio-Bio,Kel. Bandar Durian,Kec. Aek Natas,LABUHANBATU UTARA,Lee Group,NaN,NaN,NaN,NaN,NaN
3,100000000005,Rintis Kacang,Desa Pangakalan,Kec. Aek Natas,LABUHANBATU UTARA,Barton Inc,NaN,NaN,NaN,NaN,NaN
4,100000000006,Dusun VI Sidodadi,Desa Marbau Selatan,Kec. Marbau,LABUHANBATU UTARA,"Cole, Molina and Williams",NaN,NaN,NaN,NaN,NaN

# 3. Basic info

In [40]:
print("===== Raw Asset Data =====")
print(df_asset.head())
print(df_asset.info())

===== Raw Asset Data =====
        Funcloc               Alamat1                    Alamat2  \
0  100000000002         Desa Alun Dua              Desa Alun Dua
1  100000000003  Desa Padang Maninjau  Kel. Desa Padang Maninjau
2  100000000004          Desa Bio-Bio         Kel. Bandar Durian
3  100000000005         Rintis Kacang            Desa Pangakalan
4  100000000006     Dusun VI Sidodadi        Desa Marbau Selatan

            Alamat3            Alamat4                    SiteName
0  Kecamatan Kerkap     BENGKULU UTARA             Steele-Phillips
1      Kec. Aek Kuo  LABUHANBATU UTARA  Herrera, Barnes and Taylor
2    Kec. Aek Natas  LABUHANBATU UTARA                   Lee Group
3    Kec. Aek Natas  LABUHANBATU UTARA                  Barton Inc
4       Kec. Marbau  LABUHANBATU UTARA   Cole, Molina and Williams
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4908 entries, 0 to 4907
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Funcloc   4908 non-null   int64
 1   Alamat1   4908 non-null   object
 2   Alamat2   4884 non-null   object
 3   Alamat3   4877 non-null   object
 4   Alamat4   4908 non-null   object
 5   SiteName  4908 non-null   object
dtypes: int64(1), object(5)
memory usage: 230.2+ KB
None

In [41]:
print("===== Master City Data =====")
print(df_city.head())
print(df_city.info())

===== Master City Data =====
                        City CityCode       Province    Region  RegionalCode
0       Kabupaten Aceh Barat      MBO  Provinsi Aceh  Sumbagut             1
1  Kabupaten Aceh Barat Daya      BPD  Provinsi Aceh  Sumbagut             1
2       Kabupaten Aceh Besar      JTH  Provinsi Aceh  Sumbagut             1
3        Kabupaten Aceh Jaya      CAG  Provinsi Aceh  Sumbagut             1
4     Kabupaten Aceh Selatan      TTN  Provinsi Aceh  Sumbagut             1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          514 non-null    object
 1   CityCode      514 non-null    object
 2   Province      514 non-null    object
 3   Region        514 non-null    object
 4   RegionalCode  514 non-null    int64
dtypes: int64(1), object(4)
memory usage: 20.2+ KB
None

# 4. Check Missing Values

In [42]:
print("\nMissing Values in Raw Asset:")
print(raw_asset.isnull().sum())

Missing Values in Raw Asset:
Funcloc      0
Alamat1      0
Alamat2     24
Alamat3     31
Alamat4      0
SiteName     0
dtype: int64

In [43]:
print("\nMissing Values in Master City:")
print(df_city.isnull().sum())

Missing Values in Master City:
City            0
CityCode        0
Province        0
Region          0
RegionalCode    0
dtype: int64

# 6. Data Quality Checks

In [46]:
# a. Required Fields
required_cols = ["Funcloc", "Alamat4"]
for col in required_cols:
    missing = raw_asset[col].isnull().sum()
    print(f"Missing {col}: {missing}")

Missing Funcloc: 0
Missing Alamat4: 0

In [47]:
# b. Validate numeric ranges (contoh: cek ID numeric jika ada)
if 'Funcloc' in raw_asset.columns:
    print("Funcloc unique sample:", raw_asset['Funcloc'].unique()[:10])

Funcloc unique sample: [100000000002 100000000003 100000000004 100000000005 100000000006
 100000000007 100000000008 100000000009 100000000010 100000000011]

In [48]:
# c. Referential integrity check: apakah Alamat4 ada di master city
unmatched_cities = set(raw_asset['Alamat4'].unique()) - set(master_city['City'].unique())
print("\nUnmatched cities (sample):", list(unmatched_cities)[:20])

Unmatched cities (sample): ['GUNUNGSITOLI, KOTA', 'BOLAANG MONGONDOW SELATAN', 'MANDAILING NATAL', 'SIGI', 'BANDA ACEH, KOTA', 'Lembata', 'ACEH UTARA', 'Kediri', 'BIMA', 'Jombang', 'Sumbawa', 'BLORA', 'KARANGASEM', 'BUNGO', 'Jeneponto', 'TAPANULI UTARA', 'GORONTALO', 'MOROWALI', 'PONTIANAK, KOTA', 'Lampung Selatan']

# 7. Summary Statistics

In [49]:
print("\nSummary statistics Raw Asset:")
print(raw_asset.describe(include='all'))

Summary statistics Raw Asset:
             Funcloc                           Alamat1     Alamat2  \
count   4.908000e+03                              4908        4884
unique           NaN                              4793        4624
top              NaN  Gd.GrahaPratamalt.5,jl.MT Haryon  kel. Bogor
freq             NaN                                 8          14
mean    1.000000e+11                               NaN         NaN
std     1.554809e+04                               NaN         NaN
min     1.000000e+11                               NaN         NaN
25%     1.000000e+11                               NaN         NaN
50%     1.000000e+11                               NaN         NaN
75%     1.000000e+11                               NaN         NaN
max     1.000001e+11                               NaN         NaN

           Alamat3 Alamat4        SiteName
count         4877    4908            4908
unique        4103     698            4460
top     kec. Bogor   BOGOR  Smith and Sons
freq            12      67               8
mean           NaN     NaN             NaN
std            NaN     NaN             NaN
min            NaN     NaN             NaN
25%            NaN     NaN             NaN
50%            NaN     NaN             NaN
75%            NaN     NaN             NaN
max            NaN     NaN             NaN

In [50]:
print("\nSummary statistics Master City:")
print(df_city.describe(include='all'))

Summary statistics Master City:
                        City CityCode             Province    Region  \
count                    514      514                  514       514
unique                   514      501                   34        11
top     Kabupaten Aceh Barat      JAP  Provinsi Jawa Timur  Sulawesi
freq                       1        2                   38        91
mean                     NaN      NaN                  NaN       NaN
std                      NaN      NaN                  NaN       NaN
min                      NaN      NaN                  NaN       NaN
25%                      NaN      NaN                  NaN       NaN
50%                      NaN      NaN                  NaN       NaN
75%                      NaN      NaN                  NaN       NaN
max                      NaN      NaN                  NaN       NaN

        RegionalCode
count     514.000000
unique           NaN
top              NaN
freq             NaN
mean        6.468872
std         3.429036
min         1.000000
25%         3.000000
50%         7.000000
75%        10.000000
max        11.000000